Package: opencv4
Version: 4.10.0
Port-Version: 3
Depends: vcpkg-cmake, vcpkg-cmake-config, vcpkg-get-python-packages, zlib
Architecture: x64-windows
Multi-Arch: same
Abi: 202f40890c42aee4b64126d32d3586061e9ac4c0387fce84523766ed70b88de5
Description: computer vision library
Default-Features: default-features

Package: opencv4
Feature: calib3d
Architecture: x64-windows
Multi-Arch: same
Description: calib3d module

Package: opencv4
Feature: default-features
Depends: opencv4
Architecture: x64-windows
Multi-Arch: same
Description: Platform-dependent default features

Package: opencv4
Feature: dnn
Depends: flatbuffers, protobuf
Architecture: x64-windows
Multi-Arch: same
Description: Enable dnn module

Package: opencv4
Feature: dshow
Architecture: x64-windows
Multi-Arch: same
Description: Enable DirectShow

Package: opencv4
Feature: fs
Architecture: x64-windows
Multi-Arch: same
Description: Enable filesystem support

Package: opencv4
Feature: gapi
Architecture: x64-windows
Multi-Arch: same
Description: Enable gapi module

Package: opencv4
Feature: highgui
Architecture: x64-windows
Multi-Arch: same
Description: highgui module

Package: opencv4
Feature: intrinsics
Architecture: x64-windows
Multi-Arch: same
Description: Enable intrinsics

Package: opencv4
Feature: jpeg
Depends: libjpeg-turbo
Architecture: x64-windows
Multi-Arch: same
Description: JPEG support for opencv

Package: opencv4
Feature: png
Depends: libpng
Architecture: x64-windows
Multi-Arch: same
Description: PNG support for opencv

Package: opencv4
Feature: quirc
Depends: quirc
Architecture: x64-windows
Multi-Arch: same
Description: Enable QR code module

Package: opencv4
Feature: thread
Architecture: x64-windows
Multi-Arch: same
Description: Enable thread support

Package: opencv4
Feature: tiff
Depends: tiff
Architecture: x64-windows
Multi-Arch: same
Description: TIFF support for opencv

Package: opencv4
Feature: webp
Depends: libwebp
Architecture: x64-windows
Multi-Arch: same
Description: WebP support for opencv

Package: opencv4
Feature: win32ui
Architecture: x64-windows
Multi-Arch: same
Description: Enable win32ui
